@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <!-- Bio Input Field -->
            <div class="form-floating mb-3">
                <textarea asp-for ="Input.Bio" class="form-control" id="bio"  placeholder="Enter your bio" style="height: 150px;"></textarea>
                <label for="bio">Bio</label>
            </div>

            <!-- Services Needed Input Field -->
            <div class="form-floating mb-3">
                <textarea asp-for="Input.ServicesNeeded" class="form-control" id="services-needed"  placeholder="List services you need" style="height: 150px;"></textarea>
                <label for="services-needed">Services Needed</label>
            </div>

            <!-- Services Provided Input Field -->
            <div class="form-floating mb-3">
                <textarea asp-for="Input.ServicesProvided" class="form-control" id="services-provided" placeholder="List services you can provide" style="height: 150px;"></textarea>
                <label for="services-provided">Services Provided</label>
            </div>

            <!-- Save Button -->
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
