@model Tiger_Tasks.Models.ForumPost

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color: gold;">Edit</h1>

<h4 style="color: gold;">ForumPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label" style="color: gold;"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label" style="color: gold;"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label" style="color: gold;"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostType" class="control-label" style="color: gold;"></label>
                <select asp-for="PostType" class="form-control">
                    <option value="HelpWanted">Help Wanted</option>
                    <option value="HelpOffered">Help Offered</option>
                </select>
                <span asp-validation-for="PostType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceType" class="control-label" style="color: gold;"></label>
                <select asp-for="ServiceType" class="form-control">
                    <option value="ITHelp">IT Help</option>
                    <option value="ManualLabor">Manual Labor</option>
                    <option value="Tutoring">Tutoring</option>
                    <option value="StudyGroup">Study Group</option>
                </select>
                <span asp-validation-for="ServiceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
