@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
    background-color: #331D56;
    color: white;
    }
</style>

<div class="text-center">
    <h1 class="display-4" style="font-weight: bold;">Welcome</h1>
    <p>Welcome to Tiger Task! Your campus-based platform for getting task done. Whether you need help with tutoring, moving, or side
        gigs, Tiger Task connects students like you to the resources you need. Simplify your to-do list and let the Tiger Tasks community lend a hand!
    </p>
</div>
