
<!--Use this page to detail your site's privacy policy.-->
<!DOCTYPE html>

@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <link href = "site.css" rel="stylesheet">
</head>
<h1>@ViewData["Title"]</h1>
<style>
    body{
    background-color: #331D56;
    color: white;
    }
</style>
<html>
<body>


    <div id="introduction">
        <br>
        <h2>Information Collection</h2>
        <h3>Types of Data Collected:</h3>
        <ul>
            <li>Personal details such as your name, major, and email</li>
            <li>Profile characteristics that you choose to enter</li>
            <li>Login details such as usernames, emails, and passwords</li>
            <li>Information shared in forums (posts, comments, etc.)</li>
        </ul>

        <br>

        <h2>Use of Collected Information</h2>
        <h3>Purpose of Data Usage: </h3>
        <ul>
            <li>To create and manage user accounts</li>
            <li>To allow users to interact with forums and each other</li>
            <li>To filter and display results in search queries</li>
            <li>To improve user experience and website functionality</li>
        </ul>

        <br>

        <h2> Data Sharing and Disclosure</h2>
        <h3>Third-Party Sharing:  </h3>
        <ul>
            <li>
                We do not sell data to third parties for marketing or financial gain.
            </li>
            <li> 
                However, data may be shared to comply with legal obligations or to protect
                the safety and rights of users.
            </li>
        </ul>

        <br>

        <h2>User Control Over Data</h2>
        <h3>Profile Information</h3>
        <ul>
            <li>
                All information and data given to Tiger Tasks besides login data is up
                to user discretion and not required to create an account.
            </li>
        </ul>

        <br>

        <h2>Data Security</h2>
        <h3>Protection Measures: </h3>
        <ul>
            <li>
                Be sure to protect your password and login information to keep your account safe.
                We do not recommend using the same password as other applications for Tiger Tasks.
            </li>
        </ul>
        <h3>Limitations: </h3>
        <ul>
            <li>
                No method of data transmission is 100% secure.
            </li>
        </ul>

        <br>

        <h2>Children's Privacy </h2>
        <h3>Age Requirements: </h3>
        <ul>
            <li>
                This website is not intended for users under 18 years of age.
                It is also not intended for users who do not attend Louisiana State University.
                We do not knowingly collect information from minors without consent.
            </li>
        </ul>

        <br>

        <h2>Changes to the Privacy Policy</h2>
        <h3>Updates: </h3>
        <ul>
            <li>
                Users will be informed about changes to the privacy policy as it will be 
                featured on our page. Users can also consistently access the privacy policy
                through our website to check it and stay up to date. Please reach out to us 
                with questions or concerns about privacy.

            </li>
        </ul>

    </div>
</body>
</html>